<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <%= render notifications %>
    <%= paginate notifications %>
  <% else %>
   <div class="container">
    <p class="p-2">通知はありません</p>
   </div>
  <% end %>

