<footer>
  <div class="container">
    <div class="text-center">
      <p class="navbar-nav ml-md-auto align-items-center">
          <%= link_to "投稿", new_post_path, class: "btn btn-primary" %>
      </p>
      <p>
        Copyright © Ota
      </p>
    </div>
  </div>
</footer>