<footer>
  <div class="container my-5">
    <div class="text-center">
      <!--<i class="fa fa-camera" aria-hidden="true">投稿</i>-->
      <%= link_to "", new_post_path, class: "fa fa-camera btn btn-danger btn-lg rounded-circle p-5 m-2"%>
      <p class="p-2">Copyright © Ota</p>
    </div>
  </div>
</footer>