@import "bootstrap";
@import "layouts/navbar.scss";
@import "common.scss";
@import "users/devise.scss";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



