@import "bootstrap";
@import "layouts/navbar";
@import "common";
@import "users/devise";
@import "users/show";
@import "users/edit";
@import "posts";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



